@import 'primereact/resources/themes/lara-light-blue/theme.css';
@import 'primeflex/primeflex.scss';

html {
  background-image: url('./assets/background.svg');
  background-size: cover;
  background-position: center;
  background-color: #ffffff;
  background-attachment: fixed;
}

.p-card-content {
  padding: 0 !important;
}